<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LoginUrl" value="https://secure.rakuten.com.tw//globalweb/cmFrdXRlbl90dzAx/pages/login.xhtml"/>
    <add key="url" value="https://www.rakuten.com.tw/shop/2097game/product/100000008863393/?l-id=tw_cart_recent_thumbnail_1"/>
    <add key="ProductUrl" value="https://www.rakuten.com.tw/shop/ezmore99/product/N102380/?l-id=tw_category_grid_product_1"/>


    
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="20"></add>
    </connectionManagement>
  </system.net>
</configuration>